<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZenithEvents"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSWmgmg8UloKdVfABJwD3Lcej7PzR-ZTY" />
        <activity
            android:name=".Admin.FacilityDetail"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminViewActivity"
            android:exported="false" />
        <activity
            android:name=".User.ProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".EntrantsList.SampledEntrants"
            android:exported="false" />
        <activity
            android:name=".EntrantsList.CancelledEntrants"
            android:exported="false" />
        <activity
            android:name=".EntrantsList.WaitlistedEntrants"
            android:exported="false" />
        <activity
            android:name=".EntrantsList.EnrolledEntrants"
            android:exported="false" />
        <activity
            android:name=".Events.EventView"
            android:exported="false" />
        <activity
            android:name=".EntrantDashboard.CreateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EntrantDashboard.EntrantViewActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserProfile"
            android:exported="false" />
        <activity android:name=".User.OrganizerPage" />
        <activity
            android:name=".Events.CreateEventPage"
            android:exported="false" />
        <activity android:name=".EntrantsList.MapActivity" />
        <activity android:name=".Events.CreationSuccessActivity" />
        <activity android:name=".Events.QRScannerActivity" />
        <activity android:name=".Events.QRView" />
        <activity android:name=".Admin.QRViewAdmin" />
        <activity android:name=".User.CreateFacility" />
        <activity android:name=".User.ViewFacility" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>