<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZenithEvents"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity007"
            android:exported="false" />
        <activity
            android:name=".EntrantsList.SampledEntrants"
            android:exported="false" />
        <activity
            android:name=".EntrantsList.CancelledEntrants"
            android:exported="false" />
        <activity
            android:name=".EntrantsList.WaitlistedEntrants"
            android:exported="false" />
        <activity
            android:name=".EntrantsList.EnrolledEntrants"
            android:exported="false" />
        <activity
            android:name=".Organizer.EventView"
            android:exported="false" />
        <activity
            android:name=".CreateProfile.CreateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EntrantDashboard.EntrantViewActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserPage"
            android:exported="false" />
        <activity android:name=".User.OrganizerPage" />
        <activity
            android:name=".Events.CreateEventPage"
            android:exported="false" />
        <activity android:name=".Events.CreationSuccessActivity" />
        <activity android:name=".WaitingListPackage.WaitingList" />
        <activity android:name=".QRCodes.QRScannerActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>